<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<div class="list row">
    <div class="col-md-8">
        <!-- <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div> -->
    </div>
    <div class="col-md-6">
        <h4>Evaluaciones</h4>
        <!-- <ul class="list-group"> -->
        <div class="container">
            <!-- <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
        >
          {{ tutorial.title }}
          {{ tutorial.title }}
        </li> -->
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FORMATO</th>
                        <th>EVALUACION</th>
                        <th>COMENTARIO</th>
                        <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evalu of evaluacion;let indice=index" [class.active]="indice == currentIndex">
                        <td> {{indice+1}}
                            <td><button type="button" (click)="currentEvaluacion=evalu" data-toggle="modal" data-target="#uploadimg">
                    <i class="bi bi-cloud" style="font-size: 1em;"></i></button>


                            </td>
                            <td>{{evalu.documento}}</td>
                            <td>{{evalu.comentario}}</td>
                            <td><i class="bi bi-check-all" style="font-size: 1.5em;"></i></td>



                    </tr>
                </tbody>
            </table>
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- </ul> -->


    </div>

    <!--   
    <div class="col-md-6">
      <div *ngIf="currentPPP.id">
        <h4>PPP</h4>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentPPP.nombre}}
        </div>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentPPP.id}}
        </div>
  
        <a class="badge badge-warning" routerLink="/ppp/{{ currentPPP.id}}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentPPP">
        <br />
        <p>Please click on a PPP...</p>
      </div>
    </div>
  
  
  
  </div>
   -->


    <div class="modal fade" id="uploadimg" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Subir Archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div style="display: flex; flex-direction:row">
                        <label style="margin-right:5px">Nombre :</label>
                        <div>
                            <input type="text" [(ngModel)]="formato">
                        </div>
                    </div>
                    <br>
                    <input id="file-upload" type="file" (change)="mostrar($event)" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="subirpdf()">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>